test_header.py
AI.docx
AI_backup.docx
AI_2.docx
cover.docx
.env
.venv/
pirate_lora_adapter/
lora_pirate_model/
github_profile_readme.md
*.json
*.gz
Huggingface/5_Dataset_Library/drug-reviews-test.jsonl
Huggingface/5_Dataset_Library/drug-reviews-train.jsonl
Huggingface/5_Dataset_Library/drug-reviews-validation.jsonl
Huggingface/5_Dataset_Library/drugs_data/
Huggingface/5_Dataset_Library/drug-reviews/
Huggingface/5_Dataset_Library/datasets-issues.jsonl

archived/
ai_engineer_assessment_roadmap.md
AI_roadmap.md